<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Корзина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <style>
        /* Стиль для поля ввода */
        .quantity-input {
            text-align: center;
            padding: 0.25rem 0.5rem;
            min-width: 40px;
            font-size: 1rem;
            box-sizing: border-box;
        }

        .history-button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-5">

    <div class="history-button">
        <a href="/carts/confirm" class="btn btn-success">История заказов</a>
    </div>

    <h1>Корзина</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Общая цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody id="cart-items">
        <tr th:each="item : ${cart.cartItems}" th:data-product-id="${item.productId}">
            <td th:text="${item.productName}">Товар</td>
            <td>
                <div class="input-group" style="width: 200px;">
                    <button class="btn btn-outline-secondary decrease-btn">-</button>
                    <input type="text" class="form-control text-center quantity-input" th:value="${item.count}" readonly="readonly"></input>
                    <button class="btn btn-outline-secondary increase-btn">+</button>
                </div>
            </td>
            <td class="unit-price" th:text="${item.price} + ' ₽'">1000 ₽</td>
            <td class="total-price" th:text="${item.price * item.count} + ' ₽'">1000 ₽</td>
            <td>
                <button class="btn btn-sm btn-outline-danger remove-btn">Удалить</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3"><strong>Итого:</strong></td>
            <td id="total-cart-price" th:text="${cart.totalPrice} + ' ₽'">0 ₽</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <div class="d-flex justify-content-between">
        <a href="/products" class="btn btn-secondary">Продолжить покупки</a>
        <button
                class="btn btn-success"
                id="confirm-order"
                th:disabled="${!cart.isBalancePositive or !cart.isPaymentServiceAvailable}">
            Оформить заказ
        </button>
    </div>
</div>
<div id="cart-message" th:attr="data-message=${cart.message}" style="display: none;"></div>

<!--<div class="alert alert-info" role="alert" id="balance-message" th:if="${cart.message != null}" th:text="${cart.message}">
    &lt;!&ndash; Сообщение о балансе будет здесь &ndash;&gt;
</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function checkCartItems() {
        const rows = document.querySelectorAll('#cart-items tr');
        const confirmOrderButton = document.getElementById('confirm-order');
        if (rows.length === 0) {
            confirmOrderButton.disabled = true;
        } else {
            confirmOrderButton.disabled = false;
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const cartMessageElement = document.getElementById('cart-message');
        const balanceAlert = cartMessageElement ? cartMessageElement.getAttribute('data-message') : null;
        console.log("Сообщение из data-атрибута:", balanceAlert);
        if (balanceAlert) {
            alert(balanceAlert);
        }
        updateCartTotal();
        //checkCartItems();
    });
    // Функция для пересчёта общей цены корзины
    function updateCartTotal() {
        let total = 0;
        document.querySelectorAll('#cart-items tr').forEach(row => {
            const unitPrice = parseFloat(row.querySelector('.unit-price').innerText.replace(' ₽', ''));
            const quantity = parseInt(row.querySelector('.quantity-input').value);
            const totalPrice = (unitPrice * quantity).toFixed(2);
            row.querySelector('.total-price').innerText = `${totalPrice} ₽`;
            total += parseFloat(totalPrice);
        });
        document.getElementById('total-cart-price').innerText = `${total.toFixed(2)} ₽`; // Округляем итоговую сумму
    }

    // Обработчики событий для изменения количества
    document.querySelectorAll('.increase-btn').forEach(button => {
        button.addEventListener('click', () => {
            const input = button.parentElement.querySelector('.quantity-input');
            const productId = button.closest('tr').getAttribute('data-product-id');
            const newCount = parseInt(input.value) + 1;

            addToCart(productId, 1).then(success => {
                if (success) {
                    input.value = newCount;
                    updateCartTotal();
                }
            });
        });
    });

    document.querySelectorAll('.decrease-btn').forEach(button => {
        button.addEventListener('click', () => {
            const input = button.parentElement.querySelector('.quantity-input');
            const productId = button.closest('tr').getAttribute('data-product-id');
            const currentCount = parseInt(input.value);

            if (currentCount > 1) {
                const newCount = currentCount - 1;

                removeFromCart(productId, 1).then(success => {
                    if (success) {
                        input.value = newCount;
                        updateCartTotal();
                    }
                });
            }
        });
    });

    // Удаление товара из корзины
    document.querySelectorAll('.remove-btn').forEach(button => {
        button.addEventListener('click', () => {
            const row = button.closest('tr');
            const productId = row.getAttribute('data-product-id');

            removeProductFromCart(productId).then(success => {
                if (success) {
                    row.remove(); // Удаляем строку из DOM
                    updateCartTotal(); // Пересчитываем итоговую сумму
                }
            });
        });
    });

    // Функция для добавления товара в корзину
    function addToCart(productId, count) {
        const data = {
            productId: productId,
            count: count
        };
        const url = `/carts/add`;
        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                return response.json().then(body => {
                    if (!response.ok) {
                        alert(body.message || 'Ошибка при добавлении товара');
                        throw new Error(`Error: ${response.status} - ${body.message || 'Unknown error'}`);
                    }
                    const isBalancePositive = body.isBalancePositive;
                    const isPaymentServiceAvailable = body.isPaymentServiceAvailable;
                    const confirmOrderButton = document.getElementById('confirm-order'); // Находим кнопку

                    // Обновляем состояние кнопки
                    confirmOrderButton.disabled = !isBalancePositive || !isPaymentServiceAvailable;

                    if (!isPaymentServiceAvailable) {
                        alert("Сервис оплаты временно недоступен. Обновите страницу и попробуйте позже");
                        return true;
                    }

                    if (!isBalancePositive) {
                        alert("На балансе недостаточно средств");
                        return true;
                    }
                    console.log(body.message);
                    return true;
                });
            })
            .catch(error => {
                console.error('Ошибка:', error);
                return false;
            });
    }

    // Функция для удаления товара из корзины
    function removeFromCart(productId, count) {
        const data = {
            productId: productId,
            count: count
        };
        const url = `/carts/deleteItem`;
        return fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                return response.json().then(body => {
                    if (!response.ok) {
                        alert(body.message || 'Ошибка при удалении товара');
                        throw new Error(`Error: ${response.status} - ${body.message || 'Unknown error'}`);
                    }

                    const isBalancePositive = body.isBalancePositive;
                    const isPaymentServiceAvailable = body.isPaymentServiceAvailable;
                    const confirmOrderButton = document.getElementById('confirm-order'); // Находим кнопку

                    // Обновляем состояние кнопки
                    confirmOrderButton.disabled = !isBalancePositive || !isPaymentServiceAvailable;

                    if (!isPaymentServiceAvailable) {
                        alert("Сервис оплаты временно недоступен. Обновите страницу и попробуйте позже");
                        return true;
                    }

                    if (!isBalancePositive) {
                        alert("На балансе недостаточно средств");
                        return true;
                    }
                    console.log(body.message);
                    return true;
                });
            })
            .catch(error => {
                console.error('Ошибка:', error);
                return false;
            });
    }

    function removeProductFromCart(productId) {
        const url = `/carts/deleteProduct/` + productId;
        return fetch(url, {
            method: 'DELETE',
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(body => {
                        alert(body.message || 'Ошибка при удалении товара');
                        throw new Error(`Error: ${response.status} - ${body.message || 'Unknown error'}`);
                    });
                }
                if (response.ok) {
                    console.log('Товар успешно удален');
                    return response.json().then(body => {
                        console.log('Товар успешно удален');

                        // Получаем значение isBalancePositive из тела ответа
                        const isBalancePositive = body.isBalancePositive;
                        const isPaymentServiceAvailable = body.isPaymentServiceAvailable;

                        // Находим кнопку "Оформить заказ"
                        const confirmOrderButton = document.getElementById('confirm-order');

                        // Обновляем состояние кнопки
                        confirmOrderButton.disabled = !isBalancePositive || !isPaymentServiceAvailable;

                        // Выводим сообщение из ответа (если есть)
                        if (body.message) {
                            alert(body.message);
                        }

                        return true;
                    });
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                return false;
            });
    }

    // Инициализация общей суммы при загрузке страницы
    document.addEventListener('DOMContentLoaded', () => {
        updateCartTotal();

        // Обработчик для кнопки "Оформить заказ"
        document.getElementById('confirm-order').addEventListener('click', () => {
            const url = '/carts/confirm';

            const totalPriceElement = document.getElementById('total-cart-price');
            let totalPriceText = totalPriceElement.innerText; // Получаем текст

            // Удаляем символ валюты и пробелы, затем преобразуем в число
            let orderSum = parseFloat(totalPriceText.replace(/[^\d.-]/g, '')); // Убираем всё, кроме цифр, точки и минуса

            // Проверяем, что значение корректно
            if (isNaN(orderSum)) {
                alert("Ошибка: не удалось получить сумму заказа.");
                return;
            }

            // Формируем DTO для отправки
            const processPaymentDto = {
                orderSum: orderSum, // Это будет автоматически преобразовано в JSON как число
            };

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(processPaymentDto) // Преобразуем DTO в JSON
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(body => {
                            alert(body.message || 'Ошибка при оформлении заказа');
                            throw new Error(`Error: ${response.status} - ${body.message || 'Unknown error'}`);
                        });
                    }
                    return response.text();
                })
                .then(curtId => {
                    window.location.href = `/carts/${curtId}`;
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Не удалось оформить заказ.');
                });
        });
    });
</script>
</body>
</html>